#logo{
    position: absolute;
    z-index: 5;
    width: 140px;
    height: 76px;
    margin-left: 809px;
    margin-top: -148px;
}

#footer{
      position: absolute;
    z-index: 5;
    width: 736px;
    height: 51px;
    margin-left: 392px;
    margin-top: 464px;
}

.head{
z-index: 1;
position: absolute;
    top: 15px;
    left: 400px;
}

.head1{
z-index: 0;
position: absolute;
    top: 15px;
    left: 400px;
}

.logo{

	z-index: 2;
	position: absolute;
    top: 70px;
    left: 914px;
}
.button1{

	z-index: 1;
	position: absolute;
    top: 323px;
    left: 560px;
}

.button2{

	z-index: 1;
	position: absolute;
    top: 323px;
    left: 659px;
}

.button3{

	z-index: 1;
	position: absolute;
    top: 323px;
    left: 760px;
}
.button4{

	z-index: 1;
	position: absolute;
     top: 323px;
    left: 859px;
}

.right_block{

	z-index: 1;
	position: absolute;
	top: 389px;
    left: 675px;
}

.left_block{

    z-index: 1;
    position: absolute;
    top: 420px;
    left: 400px;
}

.img1{
	z-index: 2;
	position: absolute;
      top: 471px;
    left: 691px;
}
.img2{
	z-index: 2;
	position: absolute;
        top: 622px;
    left: 691px;
}

.home{
    z-index: 2;
    position: absolute;
    top: 32px;
    left: 823px;
}

.mail{
    z-index: 2;
    position: absolute;
    top: 34px;
    left: 924px;
}

.shearch{
z-index: 2;
    position: absolute;
    top: 33px;
    left: 1040px;
}

#head{
position: absolute;
    z-index: 5;
    margin-top: -294px;
    margin-left: 703px;
}

#head li {
	list-style: none;
    display: inline;
    margin: -14px -36px;
    margin-left: 90px;
	
}

#head li a{

	font-size: 16px;
	color: rgb(46,134,167);
	text-decoration: none;
	text-transform: capitalize;
	position: relative;
	z-index: 5;
}


#menu{
	position:relative;
	z-index: 99999;
    margin-top: 324px;
    margin-left: 447px;
	}

#menu li {
	list-style:none;
	display:inline;
    margin: 0px -55px;
    margin-left: 90px;
	
}

#menu li a{

	font-size: 16px;
	color: rgb(46,134,167);
	text-decoration: none;
	text-transform: capitalize;
}

#right_block h1{
    position: relative;
    text-align: center;
    z-index: 3;
    width: 257px;
    height: 201px;
    margin-top: -87px;
    margin-left: 799px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(255,255,255);
}

#right_block h3{
    position: relative;
    text-align: center;
    z-index: 8;
    width: 296px;
    height: 201px;
    margin-top: -177px;
    margin-left: 803px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255,255,255);
}

#right_block h3 a{
		text-decoration: none;
		color: rgb(230,117,26);
	} 


#left_block ul{
    position: relative;
    z-index: 4;
    list-style: none;
    margin: 76px -55px;
    margin-left: 384px;
    width: 227px;
    height: 1px;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(0,0,0);

	}

	#left_block ul a{
		text-decoration: none;
		color: rgb(230,117,26);
	} 

	#footer h3{
    position: absolute;
    display: block;
    z-index: 6;
    margin-left: 9px;
    margin-top: -27px;
    color: rgb(255,255,255);
    font-size: 12px;
	}

	#foot_text{
    position: absolute;
    z-index: 6;
    margin-top: 23px;
    margin-left: 418px;
    width: 431px;
    height: 14px;
}

#foot_text li {
	width: 15px;
	height: 35px;
    list-style: none;
    display: inline;
    margin: 15px 196px;
    margin-left: -171px;
	
}

#foot_text li a{

	font-size: 15px;
	color: rgb(255,255,255);
	text-decoration: none;
	text-transform: capitalize;
}